/* Give your page a fun background color */
body {background-color: lightblue; text-align: center;}
/* Make the header and footer a different color from the background */
header,footer{background-color: lightgray;}
/* Align the h1 containing your name in the center of the header*/
h1 {text-align: center;}
/* Make your p tag a different color and italic */
p {font-style: italic; color: blue; text-align: center;}
/* Put a border around your image */
img {border-style: groove;}
/* Change the font-family of your list */
li {font-family: Arial, Helvetica, sans-serif;}
